*{
    justify-content: center;
    text-align: center;
    align-items: center;
    font-family:Arial, Helvetica, sans-serif;
    user-select: none;
}

#container{
    width: 400px;
    height: 450px;
    border-radius: 6px;
    border: none;
    padding: 10px;
    box-shadow: 0 0 15px rgb(139, 139, 139);
    align-items: center;
    position: fixed;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);   
    background-color: rgba(249, 248, 248, 0.9); 
}

input::placeholder {
    font-size: 16px; /* Adjust the font size as needed */
    text-align: center;
}

.input-box{
    border: none;
    margin-bottom:20px;
    position: relative;     
}

.input-box input {
    background-repeat: no-repeat;
    background-size: 18px 18px; 
    background-position: right 12px center;
}

#pw, #pwConfirm{
    width:350px;
    border-radius: 10px;
    height:40px;
    border:transparent;
    box-shadow: 0 0 15px rgba(184, 186, 187, 0.5);
    outline: none;
    padding-left:20px;
}

#pw:focus, #pwConfirm:focus,
#pw:hover, #pwConfirm:hover{
    box-shadow: 0 0 15px rgb(117, 118, 118);
}

#submit{
    font-size: 16px;
    margin-top: 45px;
    margin-left: 15px;
    font-weight: 500;
    height: 40px;
    width: 372px;
    border-radius: 10px;
    align-items: center;
    justify-content: center; 
    display:flex;
    cursor: pointer;
    transition: background-color 0.3s; 
    border: none;
    background-color: rgb(48, 245, 48);
}

#submit:active{
    box-shadow: 0 0 15px rgba(139, 141, 139, 0.5);
}

#submit:hover{
    background-color: rgb(48, 245, 48);
    transition: background-color 0.3s; 
}

h2{

    margin: 30px;
}

#message {
    display:none;
    position: absolute;
    top: 210px;
    right:25px;
    width: 360px;
    height: 110px;
    border-radius: 5px;
    border:grey solid 1px;
    background: #f1f1f1;
    color: black;
    padding: 5px;
    z-index: 9999;
    justify-content: left;

}


#message h5 {
    font-size: 15px;
    margin: 0px;
    margin-left: 10px;

}

#message p {
    padding-bottom: 1.5px;
    padding-top: 1.5px;
    font-size: 14px;
    line-height: 0px;
}

#message span {
    color:black;
    margin-left: 35px;
    float: left;
}


.valid {
    color: green;
}

.valid:before {
    position: relative;
    left: -160px;
    content: "✔";
}


.invalid {
    color: red;
}

.invalid:before {
    position: relative;
    left: -160px;
    content: "✖";
}

